<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Funcionalidades</h3>
      <h2 class="mb-5">O que ofrecemos</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Para todos los tamaños</div>
              <p class="mb-0">No importa cuantos alumnos tienes, hay lugar para todos</p>
            </div>
          </div>
          <img class="img-fluid" src="<%= asset_pack_path 'media/custom/portfolio-1.jpg' %>" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Exámenes online</div>
              <p class="mb-0">Una plataforma de exámenes inteligente, hecha pensando en el futuro.</p>
            </div>
          </div>
          <img class="img-fluid" src="<%= asset_pack_path 'media/custom/portfolio-2.jpg' %>" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Inteligencia Artificial</div>
              <p class="mb-0">Con ayuda de nuestra IA, podrá crear las clases que mejor se adaptan para sus alumnos</p>
            </div>
          </div>
          <img class="img-fluid" src="<%= asset_pack_path 'media/custom/portfolio-3.jpg' %>" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Métricas por alumno</div>
              <p class="mb-0">Cada alumno és unico, por eso, para eso, nuestras métricas le ayudan a complementar el aprendizaje</p>
            </div>
          </div>
          <img class="img-fluid" src="<%= asset_pack_path 'media/custom/portfolio-4.jpg' %>" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
