<section class="content-section bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">Quieres conocer más?</h2>
    <a href="#!" class="btn btn-xl btn-light mr-4">Funcionalidades</a>
    <a href="#!" class="btn btn-xl btn-dark">Contacto</a>
  </div>
</section>