<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">EducIA</h1>
    <h3 class="mb-5">
      <em>Porque aprender es más que simples exámenes</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="html/register.html">Accede</a>
  </div>
  <div class="overlay"></div>
</header>
